  .popup {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.23);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
  }
    .popupInner {
      position: relative;
      display: flex;

      align-items: center;
      justify-content: space-evenly;
      padding: 0px 0px;
      width: 70%;
      height: max-content;

      background: #ffffff;
      border-right: 7px solid #DB3968;
      border-radius: 15px;
      text-align: center;
    }
      .InnerGrid {
        display: grid;
        grid-template-columns: 44% 50%;
        grid-gap: 50px;
        gap: 50px;
        align-items: center;
        width: 90%;
      }
        .imgWrap img {
          width: 100%;
          height: 252px;
          border-radius: 15px;
          margin-bottom: -5px;
        }
        .contentWrap {
          display: flex;
          flex-flow: column;
          padding: 60px 20px;

          align-items: flex-start;
        }

        .contentWrap  h5 {
            font-size: 24px;
            margin: 0;
            text-align: left;
            margin-bottom: 20px;
            border-bottom: 3px solid #DB3968;
          }
          .contentWrap p {
            margin: 5px 0px;
            color: #646464;
            text-align: left;
          }


      .closeBtn {
        position: absolute;
        background-color: white;
        cursor: pointer;

        color: #DB3968;
        top: 15px;
        right: 40px;
        font-size: 25px;
      }

    .popupInnersW {
      background-color: white;
      position: relative;
      display: grid;
      grid-template-columns: 49% 49%;
      align-items: center;
      justify-content: space-evenly;
      padding: 30px 40px;
      width: 100%;
      border-radius: 10px;
      border: 2px solid #000;
      background-color: white;
      text-align: center;
    }
      .closeBtn {
        position: absolute;
        background-color: white;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #DB3968;
        border-color: #000;
        color: #DB3968;
        top: 5px;
        right: 10px;
        font-size: 25px;
      }

    .popupInners {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 30px 60px;
      width: 70%;
      height: 80%;
      border-radius: 5px;
      border: 2px solid #000;
      background-color: white;
      text-align: center;
    }
      .closeBtn {
        position: absolute;
        background-color: white;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #DB3968;
        border-color: #000;
        color: #DB3968;
        top: 5px;
        right: 10px;
        font-size: 25px;
      }

      .buttonDiv {
        display: flex;
        gap: 20px;
        margin-top: 30px;
      }

@media (max-width: 1025px) {
  .popupInner {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(190, 202, 218, 0.75);
    background-image: none !important;
    padding: 30px 10px;
  }
  .popupInners {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(190, 202, 218, 0.75);
    background-image: none !important;
    padding: 30px 10px;
  }
  .popupInnersW {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(190, 202, 218, 0.75);
    background-image: none !important;
    padding: 30px 10px;
  }
}

@media (max-width: 600px) {
  .popupInner {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: white;
    background-image: none !important;
    padding: 30px 10px;
  }
  .popupInners {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: white;
    background-image: none !important;
    padding: 30px 10px;
  }
  .buttonDiv {
    display: flex;
    gap: 15px;
    margin-top: 20px;
  }
}
@media (max-width: 481px) {
  .popup {
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.23);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
    .popupInner {
      background-image: none !important;
      padding: 0px 10px 20px 10px;
      max-width: 100%;
      display: flex;
      width: 95%;
      align-items: center;
      justify-content: center;
      height: max-content;
      text-align: center;

      background-color: white;
      margin-left: 10px;
      margin-right: 10px;
    }
      .InnerGrid {
        display: flex;
        flex-flow: column;
        width: 100%;
        gap: 20px;
      }
        .imgWrap img {
          width: 100%;
          border-radius: 15px;
          margin-bottom: -5px;
        }
        .contentWrap {
          display: flex;
          flex-flow: column;
          padding: 0px 20px;

          align-items: flex-start;
        }

        .contentWrap h5 {
          font-size: 24px;
          margin: 0;
          margin-bottom: 20px;
          margin-top: 20px;
          text-align: left;
          border-bottom: 3px solid #DB3968;
          padding: 0px 0px 5px 0px;
          }
          .contentWrap  p {
            margin: 0;
            color: #646464;
            text-align: left;
            padding-bottom: 10px;
          }
        }

    .popupInners {
      background-image: none !important;
      padding: 30px 20px;
      max-width: 100%;
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: white;
      margin-left: 10px;
      margin-right: 10px;
    }
    .popupInnersW {
      background-image: none !important;
      padding: 30px 20px;
      max-width: 100%;
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: white;
      margin-left: 10px;
      margin-right: 10px;
    }

