@media (min-width:320px) {
  .listButton {
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
    margin-bottom: 50px;
  }
  .gridPanel {
    padding: 0;
    margin-top: 0px;
    overflow: scroll;
    height: 330px;
    margin-bottom: 20px;
    display: flex;
  }
  .contentBox h6 {
    color: #1b1b1b;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
  }
.ActiveSpan {
  padding: 12px 20px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: 0;
  background-color: #DB3968;
  color: white;
  justify-content: start;
}
.span {
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  justify-content: start;
  text-transform: uppercase;
  font-size: 12px;
  border: 0;
  background: none;
  border-bottom: 0;
}
}

@media (min-width:1025px) {
.Course {
  padding: 0px 100px;
}
.Course h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.feature {
  display: flex;
  justify-content: space-evenly;
}
.listPanel .mPanel {
  display: none;
}
.feature p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 0px 5px;
}
.tick {
  font-size: 20px;
  color: #DB3968;
}

.listButton {
  display: flex;
  justify-content: space-between;
}

.courses {
  margin: 50px 0 100px;
}
.listPanel {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.span {
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  justify-content: start;
  text-transform: uppercase;
  font-size: 12px;
}
.ActiveSpan {
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  justify-content: start;
  color: #DB3968;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #fff;
}

.gridPanelAll {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 20px;
  justify-content: center;

}

.gridPanelAllP {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 20px;
  justify-content: center;
}

.leftSideAllP {
  padding: 0px;
  cursor: pointer;
}

.contentBoxAll {
  padding: 0;
}

.contentBoxAll h6 {
  color: #1b1b1b;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: .1em;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

.gridPanel {
  display: flex;
  height: 510px;
  width: 100%;
  margin-top: 20px;
  gap: 20px;
  padding: 0px 20px;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  transition: transform 0.3s ease-out 0s;
  pointer-events: auto;
}
.Course h5 {
  font-size: 24px;
  margin: 0;
  padding: 0px 0px 5px 0px;
  margin-bottom: 20px;
}

.leftSideAll {
  padding: 0px;
  width: fit-content;
}

.leftSide,
.middleSide,
.rightSide {
  padding: 0px;
  background-color: transparent;
  max-height: 230px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 8px;
  width: 33%;
}
.contentBox {
  z-index: 1;
  width: 95%;
  border-radius: 19px;
  padding: 20px 20px;
  margin-left: 10px;
  background-color: white;
  position: absolute;
  margin-top: -40px;
  box-shadow: -1px 0px 10px 2px rgba(4, 135, 217, 0.1);
}
.courseImg {
  width: 100%;
  height: 246px;
  border-radius: 8px;

  z-index: 0;
}
.leftSide h6,
.middleSide h6,
.rightSide h6 {
  font-size: 18px;
  margin: 0;
  margin-top: 0px;
  color: #DB3968;
}
.leftSide p,
.middleSide p,
.rightSide p {
  display: flex;
  align-items: center;
}
.checkCircle {
  margin-right: 10px;
  color: #DB3968;
  font-size: 22px;
}
.btnWrapper {
  display: flex;
  width: 100%;
  gap: 10px;
}
.btnWrapper button {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid;
}
.gridPanelN {
  padding: 0;
  height: 500px;
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-evenly;
  padding: 0px 20px;
}
}

@media (max-width: 1025px) {
  .Course {
    padding: 0px 20px;
  }
  .leftSide,
  .middleSide,
  .rightSide {
    width: 60%;
    margin: 10px 0px;
    padding: 0px;
    display: flex;
    flex: none;
  }
}

@media (max-width: 1280px) {
  .contentBox {
    margin-top: -30px;
  }
}

@media (max-width: 641px) {
  .Course h2 {
    font-size: 24px;
    font-weight: 600;
  }
}

@media (max-width: 481px) {
  .Course {
    padding: 0 20px;
    margin-top: 30px;
    width: 100%;
  }
  .middlePanel {
    display: none;
  }
  .span {
    font-size: 18px;
    border: 0;
    background: aliceblue;
    border-bottom: 1px solid #DB396830;
    padding: 12px 20px;
    width: 100%;
  }
  .leftSide,
  .middleSide,
  .rightSide {
    max-height: 180px;
  }
  .Course h2 {
    font-size: 26px;
    font-weight: 700;
  }
  .feature {
    flex-flow: column;
    align-items: flex-start;
    line-height: 1.9em;
  }
  .courses {
    padding: 0px;
    box-shadow: none;
  }
  .listPanel {
    display: grid;
    width: 100%;

    grid-template-columns: 100%;
    height: max-content;
  }



  .gridPanelN {
    overflow: scroll;
    padding: 0;
    height: 500px;
    display: grid;
    grid-template-columns: 90% 90% 90%;
    width: 100%;
  }

  .leftSide,
  .middleSide,
  .rightSide {
    width: 60%;
    margin: 10px 0px;
    padding: 0px;
    display: flex;
    flex: none;
  }
  .courseImg {
    width: 100%;
  }
  .checkCircle {
    margin-right: 5px;
  }
  .Course h5 {
    padding: 10px;
  }
  .contentBox {
    margin-top: -20px;
  }
}
